In [1]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import sklearn.svm as svm

In [6]:
df=pd.read_csv('train.csv')
dft=pd.read_csv('test.csv')

In [8]:
y=df['label']

In [9]:
y

0        1
1        0
2        1
3        4
4        0
        ..
41995    0
41996    1
41997    7
41998    6
41999    9
Name: label, Length: 42000, dtype: int64

In [10]:
x=df.drop('label',axis=1)

In [16]:
cl=svm.SVC()

In [17]:
cl.fit(x,y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [19]:
predict=cl.predict(dft)

In [22]:
predict=pd.DataFrame('predict)

In [31]:
predict=predict.rename(columns={'0':'Label'})

In [32]:
predict

       0
0      2
1      0
2      9
3      9
4      3
...   ..
27995  9
27996  7
27997  3
27998  9
27999  2

[28000 rows x 1 columns]

In [34]:
ans=pd.DataFrame()

In [36]:
ans['imageid']=range(28000)

In [40]:
ans['Label']=predict

In [39]:
predict

       0
0      2
1      0
2      9
3      9
4      3
...   ..
27995  9
27996  7
27997  3
27998  9
27999  2

[28000 rows x 1 columns]